
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.progress{
    background-color: #17a2b8;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.progress-container::before{
    content: "";
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    
    background-color: #fff;
    color: #999 ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}
.circle.active{
    border-color: #18b2a8;
}

