body {
    background-color: rgba($color: #ced4da, $alpha: 0.2);
}

.profile-img {
    height: 10rem!important;
    width: 10rem!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.username,
.email {
    text-align: center;
    color: white;
}

.username {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.email {
    margin-bottom: 5rem;
    font-size: 11px;
}

.c1 {
    border-radius: 10px!important;
    width: 100%!important;
}

.c2 {
    border-radius: 10px!important;
    width: 80%;
}

.card-head {
    background-color: #18a2b8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.go-to-profile {
    text-decoration: none!important;
    position: relative;
    display: block;
    padding: 15px 15px;
    color: black;
    font-size: 12px;
    i {
        padding-right: 5px;
    }
}

.go-to-profile:hover {
    background: #f8f7f5!important;
    border-left: 5px solid #18a2b8;
    color: #89817f!important;
}

.basic-detail-head {
    font-size: 22px;
    font-weight: 300;
    margin: 10px 15px 5px;
}

.name,
.firstname {
    margin-bottom: 0!important;
    padding-left: 1rem;
}

.fa-user,
.fa-location-arrow,
.fa-code-fork,
.fa-calendar,
.fa-mobile,
.fa-envelope {
    padding: 7px 20px;
    color: #18a2b8;
}

.name-detail,
.address-detail {
    padding: 0 15px;
}

.dob {
    padding-left: 2rem;
}

.designation {
    padding-right: 2rem;
}

.mail {
    padding-left: 2rem;
}

.phone {
    padding-right: 2rem;
}

.text-name {
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 7px 5px;
    margin-top: 15px;
}

.text-address {
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 7px 5px;
    margin-top: 2px;
}

.text-dob,
.text-designation,
.text-mail,
.text-phone {
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 7px 5px;
    margin-top: 2px;
}

.alert {
    z-index: 99999;
    left: 14rem;
    background-color: lightgreen;
    border-color: green;
    width: 40%;
    margin-top: 1rem;
}

strong {
    color: white;
}

.close {
    width: auto!important;
    height: auto!important;
    color: white!important;
}

.close:hover {
    background-color: transparent;
}

.nav-link {
    margin-top: 4px!important;
}

.card {
    margin-top: 7rem;
    margin-left: -2rem;
    height: auto;
    border-radius: 0px;
    width: 80%;
}

.card-body {
    padding: 1.25rem;
}

.card.moveleft {
    margin-left: -9.5rem!important;
    transition-duration: 0.4s;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 18rem;
    .p1 {
        font-weight: 600!important;
    }
}